<h1>Smelly Cat Club Invitation</h1>

<p>We are happy to notify you, that since now you can become a <em>Member</em> of a SCC.</p>

<p>User old.user@example.com invited you.</p>

<p><%= link_to 'Click here to register', new_refferal_url(token: @invitation.token), class: 'invitation-link' %></p>
