<br />

<div class="row">
  <div class="medium-offset-3 medium-6 columns">

    <div class="card">
      <%= image_tag asset_path 'cat.png', class: 'cute-catty-picture' %>
      <div class="card-section">
        <h4>Smelly Cat</h4>
        <p>Smelly Cat first appeared in the second season episode "The One With The Baby On The Bus" when Phoebe mentions the song in a conversation with Rachel.</p>
        <p><%= link_to 'Video', 'https://www.youtube.com/watch?v=92vTUFqy3gU' %></p>
      </div>
    </div>
  </div>
</div>
